*~

external/dict-mmcif_biosync/mmcif_biosync.dic
external/dict-mmcif_ccp4/mmcif_ccp4.dic
external/dict-mmcif_em/mmcif_em.dic
external/dict-mmcif_img/mmcif_img.dic
external/dict-mmcif_nef/mmcif_nef.dic
external/dict-mmcif_nmr-star/mmcif_nmr-star.dic
wwpdb_internal/dict-mmcif_rcsb_nmr/mmcif_rcsb_nmr.dic
wwpdb_internal/dict-mmcif_rcsb_xray/mmcif_rcsb_xray.dic
external/dict-mmcif_sas/mmcif_sas.dic
external/dict-mmcif_std/mmcif_std.dic
external/dict-mmcif_sym/mmcif_sym.dic
