*~

dict-mmcif_biosync/mmcif_biosync.dic
dict-mmcif_ccp4/mmcif_ccp4.dic
dict-mmcif_img/mmcif_img.dic
dict-mmcif_nef/mmcif_nef.dic
dict-mmcif_nmr-star/mmcif_nmr-star.dic
dict-mmcif_rcsb_nmr/mmcif_rcsb_nmr.dic
dict-mmcif_rcsb_xray/mmcif_rcsb_xray.dic
dict-mmcif_sas/mmcif_sas.dic
dict-mmcif_sym/mmcif_sym.dic
